<!DOCTYPE html>
<html>
<head>
<title>All Day Data</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="headers">

    <a href="{{ url_for('hello_world') }}"><button>LIVE</button></a>

    <div class="topbar">
        <h1>Graphs & Stats</h1>
    </div>

    <button onclick="window.location.reload()">REFRESH</button>
    
</div>

<div class="content">

    <div class="statscard">
        <div class="stats">
            <h3>PlaceHolder</h3>
            <p>PlaceHolder</p>
            <p>PlaceHolder</p>
            <p>PlaceHolder</p>
            <p>PlaceHolder</p>
        </div>
        <img src="knowlton.jpg" alt="Graph 1">
    </div>

    <div class="card">
        <h3>PlaceHolder</h3>
        <p>PlaceHolder</p>
        <p>PlaceHolder</p>
        <p>PlaceHolder</p>
        <p>PlaceHolder</p>
    </div>

    <div class="card">
        <h3>PlaceHolder</h3>
        <p>PlaceHolder</p>
        <p>PlaceHolder</p>
        <p>PlaceHolder</p>
        <p>PlaceHolder</p>
    </div>

    <div class="card">
        <h3>PlaceHolder</h3>
        <p>PlaceHolder</p>
        <p>PlaceHolder</p>
        <p>PlaceHolder</p>
        <p>PlaceHolder</p>
    </div>

    <div class="card">
        <h3>PlaceHolder</h3>
        <p>PlaceHolder</p>
        <p>PlaceHolder</p>
        <p>PlaceHolder</p>
        <p>PlaceHolder</p>
    </div>

</div>

</body>
</html>