<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Sensor Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Temperature Sensor Dashboard</h1>
    <div class="top-bar">
        <p>Current Temperature: <span id="current-temperature">--</span> °C</p>
    </div>
    <div id="content">
        <canvas id="tempChart"></canvas>
    </div>
</body>
</html>
